@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 47, 79, 79;
  --text-rgb: 220, 220, 220;
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
}
